# OS junk
.DS_Store
Thumbs.db

# Extension builds/zips
build/

# Ignore everything in dist/ EXCEPT the zip file
dist/*
!dist/*.zip

# IDEs
.vscode/
.idea/

# Node (in case you add build tools later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
